{% load static %}
<!DOCTYPE html>

<html>
	<head>
		<title>대학생이 뽑은 좋은 광고</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

		<style>
			.wrapper {
				width: 100%;
				height: auto;
			}

			.button {
				cursor: pointer;
				width: 224px;
				height: auto;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 30px;
				border: none;
				text-align: center;
			}
			
			.intro {
				width: 100%;
				height: auto;
				margin-top: 130px;
				margin-bottom: 70px;
				text-align: center;
			}

		</style>
	</head>

	<body style="background-color: #ffffff;">
		<img class="wrapper" src="{% static 'indexlogo.png' %}">

		<div class="intro">
			<img src="{% static 'intro.png' %}">
		</div>

		<div class="button">
		<table>
			<form action="/tv">
				<input type="image" src="{% static 'button.png' %}" alt="Submit">
			</form>
		</table>
		</div>
	</body>
</html>