{% load static %}
<!DOCTYPE html>

<html>
	<head>
		<title>대학생이 뽑은 좋은 광고</title>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="/assets/logo.ico">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

		<style>
			.wrapper {
				width: 100%;
				height: auto;
				border: none;
			}

			.button {
				cursor: pointer;
				width: 224px;
				height: auto;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 300px;
				border: none;
				text-align: center;
			}

		</style>
	</head>

	<body style="background-color: #f3cf5f;">
		<img class="wrapper" src="{% static 'index_new.png' %}">


		<div class="button">
		<table>
			<form action="/tv">
				<input type="image" src="{% static 'button1.png' %}" alt="Submit">
			</form>
		</table>
		</div>
	</body>
</html>
